In [1]:
import pandas as pd
import numpy as np
import itertools as it

### Example: List out all possible matches

In [2]:
N = 3
guys = list('ABC')
girls = list('FGH')
perms = it.permutations(girls, N)

matches = {tuple(p): 1
           for perm in perms
           for p in zip(guys, perm)}
matches

{('A', 'F'): 1,
 ('B', 'G'): 1,
 ('C', 'H'): 1,
 ('B', 'H'): 1,
 ('C', 'G'): 1,
 ('A', 'G'): 1,
 ('B', 'F'): 1,
 ('C', 'F'): 1,
 ('A', 'H'): 1}

In [3]:
for (i, c), v in matches.items():
    print(i, c, v)

A F 1
B G 1
C H 1
B H 1
C G 1
A G 1
B F 1
C F 1
A H 1

In [4]:
N = 10
guys = range(N)
girls = range(N)
perms = it.permutations(girls, N)

paths = list()
i, j = list(), list()
for perm in perms:
    
paths = [list(zip(guys, perm)) for perm in perms]
n = len(paths)
print(f'{n:,.0f} paths')

3,628,800 paths

In [5]:
idx = pd.Index(range(10), name='Guys')
cols = pd.Index(range(10), name='Girls')

In [10]:
path = paths[0]
path

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)]

In [17]:
def gen_matrix(males, females):
    z = np.zeros((len(males), len(females)),
                 dtype='int')
    z[males, females] = 1
    return z

perms = it.permutations(girls, N)
mats = np.concatenate([gen_matrix(guys, g) for g in perms])

In [18]:
mats.shape

(36288000, 10)

In [21]:
idx = pd.Index(list(range(10)) * 3_628_800, dtype='int', name='Guys')
M = pd.DataFrame(mats, index=idx, columns=cols)
data = np.array([i for i in range(3_628_800) for _ in range(10)],
                dtype='int')
M['Iteration'] = data
M = M.set_index('Iteration', append=True)
M.head(15)

Girls           0  1  2  3  4  5  6  7  8  9
Guys Iteration
0    0          1  0  0  0  0  0  0  0  0  0
1    0          0  1  0  0  0  0  0  0  0  0
2    0          0  0  1  0  0  0  0  0  0  0
3    0          0  0  0  1  0  0  0  0  0  0
4    0          0  0  0  0  1  0  0  0  0  0
5    0          0  0  0  0  0  1  0  0  0  0
6    0          0  0  0  0  0  0  1  0  0  0
7    0          0  0  0  0  0  0  0  1  0  0
8    0          0  0  0  0  0  0  0  0  1  0
9    0          0  0  0  0  0  0  0  0  0  1
0    1          1  0  0  0  0  0  0  0  0  0
1    1          0  1  0  0  0  0  0  0  0  0
2    1          0  0  1  0  0  0  0  0  0  0
3    1          0  0  0  1  0  0  0  0  0  0
4    1          0  0  0  0  1  0  0  0  0  0

In [22]:
M.reset_index().duplicated().sum()

0

In [23]:
for path in paths[:5]:
    print(path)

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 8), (9, 9)]
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 9), (9, 8)]
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 8), (8, 7), (9, 9)]
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 8), (8, 9), (9, 7)]
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 9), (8, 7), (9, 8)]

In [24]:
tots = M.groupby(level='Iteration').sum()
tots.describe()

Girls,0,1,2,3,4,5,6,7,8,9
count,3628800.0,3628800.0,3628800.0,3628800.0,3628800.0,3628800.0,3628800.0,3628800.0,3628800.0,3628800.0
mean,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [26]:
tots.sum(1).value_counts()

10    3628800
dtype: int64

In [29]:
all = slice(None)
M.loc[(3, all), 4]

Guys  Iteration
3     0            0
      1            0
      2            0
      3            0
      4            0
                  ..
      3628795      0
      3628796      0
      3628797      0
      3628798      0
      3628799      0
Name: 4, Length: 3628800, dtype: int64

### Now that we have all possible matches, what is the best structure for working with them?
* A single matrix of all scenarios?
* A series of matrices?

### Need to be able to drop paths with invalid matches
* Could use brute force method and just search all paths for specific matches.  Is there a better way?

### How will you account for overall results?
* On the first round, all paths have equal probability and hence are equally weighted.
* On subsequent rounds, you will update the weights based on the results for that round.

## All possible matches

In [6]:
df = pd.DataFrame.from_dict((dict(path) for path in paths))
df.head()

   0  1  2  3  4  5  6  7  8  9
0  0  1  2  3  4  5  6  7  8  9
1  0  1  2  3  4  5  6  7  9  8
2  0  1  2  3  4  5  6  8  7  9
3  0  1  2  3  4  5  6  8  9  7
4  0  1  2  3  4  5  6  9  7  8

In [7]:
df.shape

(3628800, 10)

In [8]:
mask = df == df.columns
mat = mask.astype('int')
idx = pd.Index(list(range(10)) * 362880, dtype='int')
mat.index = idx
mat.head(20)

   0  1  2  3  4  5  6  7  8  9
0  1  1  1  1  1  1  1  1  1  1
1  1  1  1  1  1  1  1  1  0  0
2  1  1  1  1  1  1  1  0  0  1
3  1  1  1  1  1  1  1  0  0  0
4  1  1  1  1  1  1  1  0  0  0
5  1  1  1  1  1  1  1  0  1  0
6  1  1  1  1  1  1  0  0  1  1
7  1  1  1  1  1  1  0  0  0  0
8  1  1  1  1  1  1  0  0  0  1
9  1  1  1  1  1  1  0  0  0  0
0  1  1  1  1  1  1  0  0  0  0
1  1  1  1  1  1  1  0  0  1  0
2  1  1  1  1  1  1  0  0  0  1
3  1  1  1  1  1  1  0  0  0  0
4  1  1  1  1  1  1  0  1  0  1
5  1  1  1  1  1  1  0  1  0  0
6  1  1  1  1  1  1  0  0  0  0
7  1  1  1  1  1  1  0  0  0  0
8  1  1  1  1  1  1  0  0  0  0
9  1  1  1  1  1  1  0  0  1  0

In [10]:
mat.index.name = 'Guys'
mat.columns.name = 'Girls'
data = [i for i in range(362_880) for _ in range(10)]
mat['Iteration'] = np.array(data, dtype='int')
mat.head(25)

Girls  0  1  2  3  4  5  6  7  8  9  Iteration
Guys
0      1  1  1  1  1  1  1  1  1  1          0
1      1  1  1  1  1  1  1  1  0  0          0
2      1  1  1  1  1  1  1  0  0  1          0
3      1  1  1  1  1  1  1  0  0  0          0
4      1  1  1  1  1  1  1  0  0  0          0
5      1  1  1  1  1  1  1  0  1  0          0
6      1  1  1  1  1  1  0  0  1  1          0
7      1  1  1  1  1  1  0  0  0  0          0
8      1  1  1  1  1  1  0  0  0  1          0
9      1  1  1  1  1  1  0  0  0  0          0
0      1  1  1  1  1  1  0  0  0  0          1
1      1  1  1  1  1  1  0  0  1  0          1
2      1  1  1  1  1  1  0  0  0  1          1
3      1  1  1  1  1  1  0  0  0  0          1
4      1  1  1  1  1  1  0  1  0  1          1
5      1  1  1  1  1  1  0  1  0  0          1
6      1  1  1  1  1  1  0  0  0  0          1
7      1  1  1  1  1  1  0  0  0  0          1
8      1  1  1  1  1  1  0  0  0  0          1
9      1  1  1  1  1  1  0  0  1  0          1
0      1  1  1  1  1  1  0  1  0  0          2
1      1  1  1  1  1  1  0  1  1  0          2
2      1  1  1  1  1  1  0  0  0  0          2
3      1  1  1  1  1  1  0  0  0  0          2
4      1  1  1  1  1  0  0  1  1  1          2

In [13]:
mat.reset_index().duplicated().sum()

0

In [14]:
mat = mat.set_index('Iteration', append=True)
mat.head()

Girls           0  1  2  3  4  5  6  7  8  9
Guys Iteration
0    0          1  1  1  1  1  1  1  1  1  1
1    0          1  1  1  1  1  1  1  1  0  0
2    0          1  1  1  1  1  1  1  0  0  1
3    0          1  1  1  1  1  1  1  0  0  0
4    0          1  1  1  1  1  1  1  0  0  0

In [26]:
tots = mat.groupby(level='Iteration').sum()
tots.describe()

Girls,0,1,2,3,4,5,6,7,8,9
count,362880.000000,362880.000000,362880.000000,362880.000000,362880.000000,362880.00000,362880.000000,362880.000000,362880.000000,362880.000000
mean,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000
std,3.000004,3.000004,3.000004,3.000004,3.000004,2.74296,2.003967,1.459327,1.347152,1.414216
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,2.000000,2.000000,2.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.00000,6.000000,4.000000,4.000000,4.000000

## WHY ARE THESE COMING OUT WITH DIFFERENT SUMS?

In [28]:
tots.sum(1).describe()

count    362880.000000
mean         10.000000
std           8.347935
min           0.000000
25%           3.000000
50%           8.000000
75%          15.000000
max          75.000000
dtype: float64

In [90]:
n = 10
cows = range(n)
sheep = range(n)

matches = set(itertools.product(cows, sheep))
df = pd.DataFrame.from_records(list(matches), columns=['cows', 'sheep'])
df.head()

   cows  sheep
0     4      0
1     4      9
2     5      1
3     8      0
4     8      9

### Each of their unique paths

In [97]:
paths = {i: (df.cows != rw['cows']) & (df.sheep != rw['sheep'])
         for i, rw in df.iterrows()}

In [99]:
for i, mask in paths.items():
    print(f'{i:.0f}: {mask.sum():,.0f}')

0: 81
1: 81
2: 81
3: 81
4: 81
5: 81
6: 81
7: 81
8: 81
9: 81
10: 81
11: 81
12: 81
13: 81
14: 81
15: 81
16: 81
17: 81
18: 81
19: 81
20: 81
21: 81
22: 81
23: 81
24: 81
25: 81
26: 81
27: 81
28: 81
29: 81
30: 81
31: 81
32: 81
33: 81
34: 81
35: 81
36: 81
37: 81
38: 81
39: 81
40: 81
41: 81
42: 81
43: 81
44: 81
45: 81
46: 81
47: 81
48: 81
49: 81
50: 81
51: 81
52: 81
53: 81
54: 81
55: 81
56: 81
57: 81
58: 81
59: 81
60: 81
61: 81
62: 81
63: 81
64: 81
65: 81
66: 81
67: 81
68: 81
69: 81
70: 81
71: 81
72: 81
73: 81
74: 81
75: 81
76: 81
77: 81
78: 81
79: 81
80: 81
81: 81
82: 81
83: 81
84: 81
85: 81
86: 81
87: 81
88: 81
89: 81
90: 81
91: 81
92: 81
93: 81
94: 81
95: 81
96: 81
97: 81
98: 81
99: 81

In [94]:
cows = list('ABCDEFGHIJ')
sheep = list('KLMNOPQRST')

grid = pd.DataFrame(np.identity(10, dtype='int'),
                    index=cows, columns=sheep)
grid.head()

   K  L  M  N  O  P  Q  R  S  T
A  1  0  0  0  0  0  0  0  0  0
B  0  1  0  0  0  0  0  0  0  0
C  0  0  1  0  0  0  0  0  0  0
D  0  0  0  1  0  0  0  0  0  0
E  0  0  0  0  1  0  0  0  0  0

In [66]:
results = []
for combo in itertools.permutations(list('ABC')):
    for match in zip(list('FGH'), combo):
        results.append(match)
        print(match)

('F', 'A')
('G', 'B')
('H', 'C')
('F', 'A')
('G', 'C')
('H', 'B')
('F', 'B')
('G', 'A')
('H', 'C')
('F', 'B')
('G', 'C')
('H', 'A')
('F', 'C')
('G', 'A')
('H', 'B')
('F', 'C')
('G', 'B')
('H', 'A')

In [76]:
results = []
for perm in combinations(list('ABC'), 2):
    for combo in combinations(list('FGH'), 1):
        for match in zip(combo, perm):
            results.append(match)
            print(match)

print(f'\nn = {len(results):.0f}')

('F', 'A')
('G', 'A')
('H', 'A')
('F', 'A')
('G', 'A')
('H', 'A')
('F', 'B')
('G', 'B')
('H', 'B')

n = 9

In [4]:
import are_you_the_one as ayto

In [5]:
guys = [ayto.Guy(letter) for letter in list('ABCDE')]
girls = [ayto.Girl(letter) for letter in list('FGHIJ')]
tournament = ayto.Tournament(guys, girls)

In [8]:
tournament.grid.X

   F  G  H  I  J
A  0  0  0  0  0
B  0  0  0  0  0
C  0  0  0  0  0
D  0  0  0  0  0
E  0  0  0  0  0