In [1]:
import pandas as pd
import numpy as np
import itertools as it

### Example: List out all possible matches

In [11]:
guys = list('ABC')
girls = list('FGH')
perms = it.permutations(girls, 3)

for perm in perms:
    print(tuple(zip(guys, perm)))

(('A', 'F'), ('B', 'G'), ('C', 'H'))
(('A', 'F'), ('B', 'H'), ('C', 'G'))
(('A', 'G'), ('B', 'F'), ('C', 'H'))
(('A', 'G'), ('B', 'H'), ('C', 'F'))
(('A', 'H'), ('B', 'F'), ('C', 'G'))
(('A', 'H'), ('B', 'G'), ('C', 'F'))

In [17]:
N = 10
guys = range(N)
girls = range(N)
perms = it.permutations(girls, N)

paths = [list(zip(guys, perm)) for perm in perms]
len(paths)

3628800

### Need to be able to drop paths with invalid matches

In [20]:
for path in paths[:5]:
    print(path)

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 8), (9, 9)]
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 9), (9, 8)]
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 8), (8, 7), (9, 9)]
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 8), (8, 9), (9, 7)]
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 9), (8, 7), (9, 8)]

## All possible matches

In [90]:
n = 10
cows = range(n)
sheep = range(n)

matches = set(itertools.product(cows, sheep))
df = pd.DataFrame.from_records(list(matches), columns=['cows', 'sheep'])
df.head()

   cows  sheep
0     4      0
1     4      9
2     5      1
3     8      0
4     8      9

### Each of their unique paths

In [97]:
paths = {i: (df.cows != rw['cows']) & (df.sheep != rw['sheep'])
         for i, rw in df.iterrows()}

In [99]:
for i, mask in paths.items():
    print(f'{i:.0f}: {mask.sum():,.0f}')

0: 81
1: 81
2: 81
3: 81
4: 81
5: 81
6: 81
7: 81
8: 81
9: 81
10: 81
11: 81
12: 81
13: 81
14: 81
15: 81
16: 81
17: 81
18: 81
19: 81
20: 81
21: 81
22: 81
23: 81
24: 81
25: 81
26: 81
27: 81
28: 81
29: 81
30: 81
31: 81
32: 81
33: 81
34: 81
35: 81
36: 81
37: 81
38: 81
39: 81
40: 81
41: 81
42: 81
43: 81
44: 81
45: 81
46: 81
47: 81
48: 81
49: 81
50: 81
51: 81
52: 81
53: 81
54: 81
55: 81
56: 81
57: 81
58: 81
59: 81
60: 81
61: 81
62: 81
63: 81
64: 81
65: 81
66: 81
67: 81
68: 81
69: 81
70: 81
71: 81
72: 81
73: 81
74: 81
75: 81
76: 81
77: 81
78: 81
79: 81
80: 81
81: 81
82: 81
83: 81
84: 81
85: 81
86: 81
87: 81
88: 81
89: 81
90: 81
91: 81
92: 81
93: 81
94: 81
95: 81
96: 81
97: 81
98: 81
99: 81

In [94]:
cows = list('ABCDEFGHIJ')
sheep = list('KLMNOPQRST')

grid = pd.DataFrame(np.identity(10, dtype='int'),
                    index=cows, columns=sheep)
grid.head()

   K  L  M  N  O  P  Q  R  S  T
A  1  0  0  0  0  0  0  0  0  0
B  0  1  0  0  0  0  0  0  0  0
C  0  0  1  0  0  0  0  0  0  0
D  0  0  0  1  0  0  0  0  0  0
E  0  0  0  0  1  0  0  0  0  0

In [66]:
results = []
for combo in itertools.permutations(list('ABC')):
    for match in zip(list('FGH'), combo):
        results.append(match)
        print(match)

('F', 'A')
('G', 'B')
('H', 'C')
('F', 'A')
('G', 'C')
('H', 'B')
('F', 'B')
('G', 'A')
('H', 'C')
('F', 'B')
('G', 'C')
('H', 'A')
('F', 'C')
('G', 'A')
('H', 'B')
('F', 'C')
('G', 'B')
('H', 'A')

In [76]:
results = []
for perm in combinations(list('ABC'), 2):
    for combo in combinations(list('FGH'), 1):
        for match in zip(combo, perm):
            results.append(match)
            print(match)

print(f'\nn = {len(results):.0f}')

('F', 'A')
('G', 'A')
('H', 'A')
('F', 'A')
('G', 'A')
('H', 'A')
('F', 'B')
('G', 'B')
('H', 'B')

n = 9

In [4]:
import are_you_the_one as ayto

In [5]:
guys = [ayto.Guy(letter) for letter in list('ABCDE')]
girls = [ayto.Girl(letter) for letter in list('FGHIJ')]
tournament = ayto.Tournament(guys, girls)

In [8]:
tournament.grid.X

   F  G  H  I  J
A  0  0  0  0  0
B  0  0  0  0  0
C  0  0  0  0  0
D  0  0  0  0  0
E  0  0  0  0  0