In [1]:
# Pull season result data from wikipedia and store in a csv file

from io import StringIO
import pandas as pd
import requests
from bs4 import BeautifulSoup
from IPython.display import HTML

In [2]:
SEASON = 1
base_url = f'https://en.wikipedia.org/wiki/Are_You_the_One%3F_(season_{SEASON})'

In [3]:
xpath = '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[1]/table'
response = requests.get(base_url)
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
table = soup.find('table', attrs={'class':'wikitable'})
# display HTML table in Jupyter notebook
HTML(str(table))

In [13]:
# pull all tables from the page
tables = soup.find_all('table', attrs={'class':'wikitable'}, limit=5)

In [27]:
print(tables[2])

<table class="wikitable" style="text-align:center;">
<tbody><tr>
<th rowspan="2"><span class="nowrap">Guys</span>
</th>
<th colspan="14" style="text-jalign:center;">Ceremony
</th></tr>
<tr>
<th>1</th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
<th>6</th>
<th>7</th>
<th>8</th>
<th>9
</th></tr>
<tr>
<th>Adam
</th>
<td>Brittany</td>
<td style="background:salmon">Shanley</td>
<td>Brittany</td>
<td>Amber</td>
<td style="background:salmon">Shanley</td>
<td>Ashleigh</td>
<td style="background:salmon">Shanley</td>
<td style="background:salmon">Shanley</td>
<td style="background:lightgreen">Shanley
</td></tr>
<tr>
<th>Chris S.
</th>
<td>Ashleigh</td>
<td>Simone</td>
<td>Paige</td>
<td>Paige</td>
<td>Simone</td>
<td>Brittany</td>
<td style="background:salmon">Jacy</td>
<td>Ashleigh</td>
<td style="background:lightgreen">Jacy
</td></tr>
<tr>
<th>Chris T.
</th>
<td>Jessica</td>
<td style="background:salmon">Paige</td>
<td>Simone</td>
<td>Ashleigh</td>
<td style="background:salmon">Paige</td>
<td style="background:lightgreen">Paige</td>
<td style="background:lightgreen">Paige</td>
<td style="background:lightgreen">Paige</td>
<td style="background:lightgreen">Paige
</td></tr>
<tr>
<th>Dillan
</th>
<td style="background:salmon">Coleysia</td>
<td>Jessica</td>
<td style="background:salmon">Coleysia</td>
<td style="background:salmon">Coleysia</td>
<td style="background:lightgreen">Coleysia</td>
<td style="background:lightgreen">Coleysia</td>
<td style="background:lightgreen">Coleysia</td>
<td style="background:lightgreen">Coleysia</td>
<td style="background:lightgreen">Coleysia
</td></tr>
<tr>
<th>Dre
</th>
<td>Jacy</td>
<td>Ashleigh</td>
<td>Ashleigh</td>
<td style="background:salmon">Simone</td>
<td>Brittany</td>
<td>Shanley</td>
<td style="background:salmon">Simone</td>
<td style="background:salmon">Simone</td>
<td style="background:lightgreen">Simone
</td></tr>
<tr>
<th>Ethan
</th>
<td>Shanley</td>
<td style="background:salmon">Amber</td>
<td style="background:salmon">Amber</td>
<td>Kayla</td>
<td style="background:salmon">Amber</td>
<td style="background:salmon">Amber</td>
<td style="background:salmon">Amber</td>
<td style="background:salmon">Amber</td>
<td style="background:lightgreen">Amber
</td></tr>
<tr>
<th>John
</th>
<td>Simone</td>
<td>Jacy</td>
<td>Jessica</td>
<td>Shanley</td>
<td>Jacy</td>
<td>Jacy</td>
<td>Brittany</td>
<td>Jacy</td>
<td style="background:lightgreen">Ashleigh
</td></tr>
<tr>
<th>Joey
</th>
<td>Paige</td>
<td style="background:salmon">Brittany</td>
<td>Shanley</td>
<td>Jacy</td>
<td>Jessica</td>
<td>Simone</td>
<td>Jessica</td>
<td style="background:salmon">Brittany</td>
<td style="background:lightgreen">Brittany
</td></tr>
<tr>
<th>Ryan
</th>
<td>Amber</td>
<td>Kayla</td>
<td>Kayla</td>
<td>Brittany</td>
<td>Ashleigh</td>
<td style="background:salmon">Jessica</td>
<td>Ashleigh</td>
<td style="background:salmon">Jessica</td>
<td style="background:lightgreen">Jessica
</td></tr>
<tr>
<th>Wes
</th>
<td style="background:salmon">Kayla</td>
<td>Coleysia</td>
<td>Jacy</td>
<td>Jessica</td>
<td style="background:salmon">Kayla</td>
<td style="background:salmon">Kayla</td>
<td style="background:salmon">Kayla</td>
<td style="background:lightgreen">Kayla</td>
<td style="background:lightgreen">Kayla
</td></tr>
<tr>
<td>Correct matches
</td>
<td>2</td>
<td>4</td>
<td>2</td>
<td>2</td>
<td>5</td>
<td>5</td>
<td>7</td>
<td>8</td>
<td>10
</td></tr></tbody></table>

In [28]:
tbl2 = tables[2]
rows = tbl2.find_all('tr')

In [29]:
row = rows[2]
row

<tr>
<th>Adam
</th>
<td>Brittany</td>
<td style="background:salmon">Shanley</td>
<td>Brittany</td>
<td>Amber</td>
<td style="background:salmon">Shanley</td>
<td>Ashleigh</td>
<td style="background:salmon">Shanley</td>
<td style="background:salmon">Shanley</td>
<td style="background:lightgreen">Shanley
</td></tr>

In [42]:
# how do i get the style from the row element?
cols = row.find_all(['td', 'th'])
for col in cols:
    print(col.text.strip(), col.attrs.get('style', ''))

Adam
Brittany
Shanley background:salmon
Brittany
Amber
Shanley background:salmon
Ashleigh
Shanley background:salmon
Shanley background:salmon
Shanley background:lightgreen

In [17]:
list_data = []
for tbl in tables:
    # parse html table into list of lists
    data = []
    rows = tbl.find_all('tr')
    for row in rows:
        cols = row.find_all(['th', 'td'])
        cols = [ele.text.strip() for ele in cols]
        data.append(cols)

    list_data.append(data)

for ld in list_data:
    for rw in ld:
        print(rw)
    print('------------------')

['Male cast members[3]', 'Age', 'Hometown']
['Adam Kuhn', '24', 'Sterling, Virginia']
['Andrean "Dre" McCoy', '23', 'Atlanta, Georgia']
['Chris Scali', '24', 'Brooklyn, New York']
['Chris Tolleson', '23', 'Virginia Beach']
['Dillan Ostrom', '23', 'Finley, North Dakota']
['Ethan Diamond', '23', 'Denver, Colorado']
['Joey Dillon', '23', 'Atlanta, Georgia']
['John "JJ" Jacobs', '25', 'Washington, DC']
['Ryan Malaty', '24', 'Greeley, Colorado']
['Wesley "Wes" Buckles', '25', 'Phoenix, Arizona']
------------------
['Female cast members[3]', 'Age', 'Hometown']
['Amber Lee', '22', 'Austin, Texas']
['Ashleigh Feaster', '23', 'Akron, Ohio']
['Brittany Baldassari', '24', 'Boston, Massachusetts']
['Coleysia Chestnut', '23', 'Selma, Alabama']
['Jacinda "Jacy" Rodriguez', '24', 'Carolina, Puerto Rico']
['Jessica Perez', '23', 'Miami, Florida']
['Kayla Lusby', '22', 'Greenfield, Tennessee']
['Paige Brendel', '22', 'Phoenix, Arizona']
['Shanley McIntee', '24', 'Mishawaka, Indiana']
['Simone Kelly', '23', 'Atlanta, Georgia']
------------------
['Guys', 'Ceremony']
['1', '2', '3', '4', '5', '6', '7', '8', '9']
['Adam', 'Brittany', 'Shanley', 'Brittany', 'Amber', 'Shanley', 'Ashleigh', 'Shanley', 'Shanley', 'Shanley']
['Chris S.', 'Ashleigh', 'Simone', 'Paige', 'Paige', 'Simone', 'Brittany', 'Jacy', 'Ashleigh', 'Jacy']
['Chris T.', 'Jessica', 'Paige', 'Simone', 'Ashleigh', 'Paige', 'Paige', 'Paige', 'Paige', 'Paige']
['Dillan', 'Coleysia', 'Jessica', 'Coleysia', 'Coleysia', 'Coleysia', 'Coleysia', 'Coleysia', 'Coleysia', 'Coleysia']
['Dre', 'Jacy', 'Ashleigh', 'Ashleigh', 'Simone', 'Brittany', 'Shanley', 'Simone', 'Simone', 'Simone']
['Ethan', 'Shanley', 'Amber', 'Amber', 'Kayla', 'Amber', 'Amber', 'Amber', 'Amber', 'Amber']
['John', 'Simone', 'Jacy', 'Jessica', 'Shanley', 'Jacy', 'Jacy', 'Brittany', 'Jacy', 'Ashleigh']
['Joey', 'Paige', 'Brittany', 'Shanley', 'Jacy', 'Jessica', 'Simone', 'Jessica', 'Brittany', 'Brittany']
['Ryan', 'Amber', 'Kayla', 'Kayla', 'Brittany', 'Ashleigh', 'Jessica', 'Ashleigh', 'Jessica', 'Jessica']
['Wes', 'Kayla', 'Coleysia', 'Jacy', 'Jessica', 'Kayla', 'Kayla', 'Kayla', 'Kayla', 'Kayla']
['Correct matches', '2', '4', '2', '2', '5', '5', '7', '8', '10']
------------------
['Girls', 'Ceremony']
['1', '2', '3', '4', '5', '6', '7', '8', '9']
['Amber', 'Ryan', 'Ethan', 'Ethan', 'Adam', 'Ethan', 'Ethan', 'Ethan', 'Ethan', 'Ethan']
['Ashleigh', 'Chris S.', 'Dre', 'Dre', 'Chris T.', 'Ryan', 'Adam', 'Ryan', 'Chris S.', 'John']
['Brittany', 'Adam', 'Joey', 'Adam', 'Ryan', 'Dre', 'Chris S.', 'John', 'Joey', 'Joey']
['Coleysia', 'Dillan', 'Wes', 'Dillan', 'Dillan', 'Dillan', 'Dillan', 'Dillan', 'Dillan', 'Dillan']
['Jacy', 'Dre', 'John', 'Wes', 'Joey', 'John', 'John', 'Chris S.', 'John', 'Chris S.']
['Jessica', 'Chris T.', 'Dillan', 'John', 'Wes', 'Joey', 'Ryan', 'Joey', 'Ryan', 'Ryan']
['Kayla', 'Wes', 'Ryan', 'Ryan', 'Ethan', 'Wes', 'Wes', 'Wes', 'Wes', 'Wes']
['Paige', 'Joey', 'Chris T.', 'Chris S.', 'Chris S.', 'Chris T.', 'Chris T.', 'Chris T.', 'Chris T.', 'Chris T.']
['Shanley', 'Ethan', 'Adam', 'Joey', 'John', 'Adam', 'Dre', 'Adam', 'Adam', 'Adam']
['Simone', 'John', 'Chris S.', 'Chris T.', 'Dre', 'Chris S.', 'Joey', 'Dre', 'Dre', 'Dre']
['Correct matches', '2', '4', '2', '2', '5', '5', '7', '8', '10']
------------------
['Couple', 'Episode', 'Result']
['Chris T. & Shanley', '1', 'Not A Match']
['Ethan & Jessica', '2', 'Not A Match']
['John & Simone', '3', 'Not A Match']
['Dillan & Jessica', '4', 'Not A Match']
['Dre & Ashleigh', '5', 'Not A Match']
['Dillan & Coleysia', '5', 'Perfect Match']
['Chris T. & Paige', '6/7', 'Perfect Match']
['Ryan & Kayla', '8', 'Not A Match']
['Wes & Kayla', '9', 'Perfect Match']
['John & Jacy', '10', 'Not A Match']
------------------

In [25]:
tbl2 = list_data[2]
ceremony_idx = pd.Index([int(i) for i in tbl2[1]], name='Ceremony')
correct_matches = pd.Series(tbl2[-1][1:], index=ceremony_idx,
                            name='n_correct')

display(correct_matches)
sex = tbl2[0][0][:-1].lower()
header = pd.Index([sex] + ceremony_idx.tolist(), name='ceremony')
df2 = pd.DataFrame(tbl2[2:-1], columns=header)
df2 = (df2
       .set_index(sex)
       .stack()
       .squeeze()
       .rename('match')
       .reset_index())
df2

Ceremony
1     2
2     4
3     2
4     2
5     5
6     5
7     7
8     8
9    10
Name: n_correct, dtype: object

      girl  ceremony     match
0    Amber         1      Ryan
1    Amber         2     Ethan
2    Amber         3     Ethan
3    Amber         4      Adam
4    Amber         5     Ethan
..     ...       ...       ...
85  Simone         5  Chris S.
86  Simone         6      Joey
87  Simone         7       Dre
88  Simone         8       Dre
89  Simone         9       Dre

[90 rows x 3 columns]

In [18]:
tbl2 = list_data[2]
idx = pd.MultiIndex.from_product([tbl2[0], tbl2[1]],
                                 names=['Contestant', 'Partner'])
df = pd.DataFrame(tbl2[2:], columns=tbl2[:2])
df

ValueError: all arrays must be same length

In [15]:
from io import StringIO

In [13]:
for tbl in tables:
    display(HTML(str(tbl)))
    print('------------------')

------------------

------------------

------------------

------------------

------------------

------------------

------------------

------------------

In [6]:
# how to I get the table into a pandas dataframe with just the data and not the urls?
dfs = pd.read_html(StringIO(table))
df.head()

/var/folders/_j/qtktfgps2sgc9s79z5twkgjc0000gn/T/ipykernel_36927/3671702274.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

  Male cast members[3]  Age              Hometown
0            Adam Kuhn   24    Sterling, Virginia
1  Andrean "Dre" McCoy   23      Atlanta, Georgia
2          Chris Scali   24    Brooklyn, New York
3       Chris Tolleson   23        Virginia Beach
4        Dillan Ostrom   23  Finley, North Dakota

In [7]:
pd.read_html?

Signature:
pd.read_html(
    io: 'FilePath | ReadBuffer[str]',
    *,
    match: 'str | Pattern' = '.+',
    flavor: 'str | None' = None,
    header: 'int | Sequence[int] | None' = None,
    index_col: 'int | Sequence[int] | None' = None,
    skiprows: 'int | Sequence[int] | slice | None' = None,
    attrs: 'dict[str, str] | None' = None,
    parse_dates: 'bool' = False,
    thousands: 'str | None' = ',',
    encoding: 'str | None' = None,
    decimal: 'str' = '.',
    converters: 'dict | None' = None,
    na_values: 'Iterable[object] | None' = None,
    keep_default_na: 'bool' = True,
    displayed_only: 'bool' = True,
    extract_links: "Literal[None, 'header', 'footer', 'body', 'all']" = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
    storage_options: 'StorageOptions' = None,
) -> 'list[DataFrame]'
Docstring:
Read HTML tables into a ``list`` of ``DataFrame`` objects.

Parameters
----------
io : str, path object, or file-like object
    String, path object (implementing ``os.PathLike[str]``), or file-like
    object implementing a string ``read()`` function.
    The string can represent a URL or the HTML itself. Note that
    lxml only accepts the http, ftp and file url protocols. If you have a
    URL that starts with ``'https'`` you might try removing the ``'s'``.

    .. deprecated:: 2.1.0
        Passing html literal strings is deprecated.
        Wrap literal string/bytes input in ``io.StringIO``/``io.BytesIO`` instead.

match : str or compiled regular expression, optional
    The set of tables containing text matching this regex or string will be
    returned. Unless the HTML is extremely simple you will probably need to
    pass a non-empty string here. Defaults to '.+' (match any non-empty
    string). The default value will return all tables contained on a page.
    This value is converted to a regular expression so that there is
    consistent behavior between Beautiful Soup and lxml.

flavor : str, optional
    The parsing engine to use. 'bs4' and 'html5lib' are synonymous with
    each other, they are both there for backwards compatibility. The
    default of ``None`` tries to use ``lxml`` to parse and if that fails it
    falls back on ``bs4`` + ``html5lib``.

header : int or list-like, optional
    The row (or list of rows for a :class:`~pandas.MultiIndex`) to use to
    make the columns headers.

index_col : int or list-like, optional
    The column (or list of columns) to use to create the index.

skiprows : int, list-like or slice, optional
    Number of rows to skip after parsing the column integer. 0-based. If a
    sequence of integers or a slice is given, will skip the rows indexed by
    that sequence.  Note that a single element sequence means 'skip the nth
    row' whereas an integer means 'skip n rows'.

attrs : dict, optional
    This is a dictionary of attributes that you can pass to use to identify
    the table in the HTML. These are not checked for validity before being
    passed to lxml or Beautiful Soup. However, these attributes must be
    valid HTML table attributes to work correctly. For example, ::

        attrs = {'id': 'table'}

    is a valid attribute dictionary because the 'id' HTML tag attribute is
    a valid HTML attribute for *any* HTML tag as per `this document
    <https://html.spec.whatwg.org/multipage/dom.html#global-attributes>`__. ::

        attrs = {'asdf': 'table'}

    is *not* a valid attribute dictionary because 'asdf' is not a valid
    HTML attribute even if it is a valid XML attribute.  Valid HTML 4.01
    table attributes can be found `here
    <http://www.w3.org/TR/REC-html40/struct/tables.html#h-11.2>`__. A
    working draft of the HTML 5 spec can be found `here
    <https://html.spec.whatwg.org/multipage/tables.html>`__. It contains the
    latest information on table attributes for the modern web.

parse_dates : bool, optional
    See :func:`~read_csv` for more details.

thousands : str, optional
    Separator to use to parse thousands. Defaults to ``','``.

encoding : str, optional
    The encoding used to decode the web page. Defaults to ``None``.``None``
    preserves the previous encoding behavior, which depends on the
    underlying parser library (e.g., the parser library will try to use
    the encoding provided by the document).

decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European
    data).

converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can
    either be integers or column labels, values are functions that take one
    input argument, the cell (not column) content, and return the
    transformed content.

na_values : iterable, default None
    Custom NA values.

keep_default_na : bool, default True
    If na_values are specified and keep_default_na is False the default NaN
    values are overridden, otherwise they're appended to.

displayed_only : bool, default True
    Whether elements with "display: none" should be parsed.

extract_links : {None, "all", "header", "body", "footer"}
    Table elements in the specified section(s) with <a> tags will have their
    href extracted.

    .. versionadded:: 1.5.0

dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

    .. versionadded:: 2.1.0

Returns
-------
dfs
    A list of DataFrames.

See Also
--------
read_csv : Read a comma-separated values (csv) file into DataFrame.

Notes
-----
Before using this function you should read the :ref:`gotchas about the
HTML parsing libraries <io.html.gotchas>`.

Expect to do some cleanup after you call this function. For example, you
might need to manually assign column names if the column names are
converted to NaN when you pass the `header=0` argument. We try to assume as
little as possible about the structure of the table and push the
idiosyncrasies of the HTML contained in the table to the user.

This function searches for ``<table>`` elements and only for ``<tr>``
and ``<th>`` rows and ``<td>`` elements within each ``<tr>`` or ``<th>``
element in the table. ``<td>`` stands for "table data". This function
attempts to properly handle ``colspan`` and ``rowspan`` attributes.
If the function has a ``<thead>`` argument, it is used to construct
the header, otherwise the function attempts to find the header within
the body (by putting rows with only ``<th>`` elements into the header).

Similar to :func:`~read_csv` the `header` argument is applied
**after** `skiprows` is applied.

This function will *always* return a list of :class:`DataFrame` *or*
it will fail, e.g., it will *not* return an empty list.

Examples
--------
See the :ref:`read_html documentation in the IO section of the docs
<io.read_html>` for some examples of reading in HTML tables.
File:      ~/miniconda3/lib/python3.11/site-packages/pandas/io/html.py
Type:      function