In [1]:
from are_you_the_one import *

In [2]:
season = Season(1)
season

In [4]:
ceremony_i = 1
matches_df = season._reader.progress.query("ceremony == @ceremony_i")[['guy', 'girl']]
matches_df

         guy      girl
0       Adam  Brittany
9   Chris S.  Ashleigh
18  Chris T.   Jessica
27    Dillan  Coleysia
36       Dre      Jacy
45     Ethan   Shanley
54      John    Simone
63      Joey     Paige
72      Ryan     Amber
81       Wes     Kayla

## Generate a Path of Matches based on Data from the First Ceremony

In [5]:
guys = matches_df['guy'].map(season.guys_indices.get).map(season.guys.__getitem__).tolist()
guys

[Guy(idx: 0, name: Adam, sex: Male, gender preference: Female),
 Guy(idx: 2, name: Chris S., sex: Male, gender preference: Female),
 Guy(idx: 3, name: Chris T., sex: Male, gender preference: Female),
 Guy(idx: 4, name: Dillan, sex: Male, gender preference: Female),
 Guy(idx: 1, name: Dre, sex: Male, gender preference: Female),
 Guy(idx: 5, name: Ethan, sex: Male, gender preference: Female),
 Guy(idx: 7, name: John, sex: Male, gender preference: Female),
 Guy(idx: 6, name: Joey, sex: Male, gender preference: Female),
 Guy(idx: 8, name: Ryan, sex: Male, gender preference: Female),
 Guy(idx: 9, name: Wes, sex: Male, gender preference: Female)]

In [6]:
girls = matches_df['girl'].map(season.girls_indices.get).map(season.girls.__getitem__).tolist()
girls

[Girl(idx: 2, name: Brittany, sex: Female, gender preference: Male),
 Girl(idx: 1, name: Ashleigh, sex: Female, gender preference: Male),
 Girl(idx: 5, name: Jessica, sex: Female, gender preference: Male),
 Girl(idx: 3, name: Coleysia, sex: Female, gender preference: Male),
 Girl(idx: 4, name: Jacy, sex: Female, gender preference: Male),
 Girl(idx: 8, name: Shanley, sex: Female, gender preference: Male),
 Girl(idx: 9, name: Simone, sex: Female, gender preference: Male),
 Girl(idx: 7, name: Paige, sex: Female, gender preference: Male),
 Girl(idx: 0, name: Amber, sex: Female, gender preference: Male),
 Girl(idx: 6, name: Kayla, sex: Female, gender preference: Male)]

In [8]:
matches = [Match(guy, girl) for guy, girl in zip(guys, girls)]
path = Path(matches)
path

Path([Match(Guy(idx: 0, name: Adam, sex: Male, gender preference: Female), Girl(idx: 2, name: Brittany, sex: Female, gender preference: Male)), Match(Guy(idx: 2, name: Chris S., sex: Male, gender preference: Female), Girl(idx: 1, name: Ashleigh, sex: Female, gender preference: Male)), Match(Guy(idx: 3, name: Chris T., sex: Male, gender preference: Female), Girl(idx: 5, name: Jessica, sex: Female, gender preference: Male)), Match(Guy(idx: 4, name: Dillan, sex: Male, gender preference: Female), Girl(idx: 3, name: Coleysia, sex: Female, gender preference: Male)), Match(Guy(idx: 1, name: Dre, sex: Male, gender preference: Female), Girl(idx: 4, name: Jacy, sex: Female, gender preference: Male)), Match(Guy(idx: 5, name: Ethan, sex: Male, gender preference: Female), Girl(idx: 8, name: Shanley, sex: Female, gender preference: Male)), Match(Guy(idx: 7, name: John, sex: Male, gender preference: Female), Girl(idx: 9, name: Simone, sex: Female, gender preference: Male)), Match(Guy(idx: 6, name: Joey, sex: Male, gender preference: Female), Girl(idx: 7, name: Paige, sex: Female, gender preference: Male)), Match(Guy(idx: 8, name: Ryan, sex: Male, gender preference: Female), Girl(idx: 0, name: Amber, sex: Female, gender preference: Male)), Match(Guy(idx: 9, name: Wes, sex: Male, gender preference: Female), Girl(idx: 6, name: Kayla, sex: Female, gender preference: Male))])

In [9]:
for match in path:
    print(match)

Match(Adam, Brittany)
Match(Chris S., Ashleigh)
Match(Chris T., Jessica)
Match(Dillan, Coleysia)
Match(Dre, Jacy)
Match(Ethan, Shanley)
Match(John, Simone)
Match(Joey, Paige)
Match(Ryan, Amber)
Match(Wes, Kayla)

## Get Results of First Ceremony

## Update Matrix based on First Ceremony Matchups and Number of Perfect Matches